body{
    margin: 0;
    padding: 0;
}
.slider_wrapper{
    position: relative;
    max-width: 48rem;

}
.slides{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type:x mandatory;
    scroll-behavior: smooth;
}
.slides > img {
    flex: 1 0 100%;
    scroll-snap-align: start ;
    object-fit: cover;
}